.banner, 
.searchForm,
.film-list1,
.film-list2,
.addtoFavoritesBtn {
    display: flex;
    justify-content: center;
}

.banner {
    background-color: #1E9FD1;
}

html,
.App {
    background: url("https://i.imgur.com/w9fNuEX.jpeg")
      no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .searchForm {
    margin: 20px;
}

.MyFavorites {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.singleFilm {
    background-color: beige;
    padding: 20px;
}

.film-list1,
.film-list2{
    background-color: beige;
    padding: 5px;
}

.filmDetails {
    display: flex;
    align-self: center;
    flex-direction: column;
}

.film-list2 {
    display: none;
}

input[type=text] {
    width: 70%;
    height: auto;
    padding: 12px 20px;
    box-sizing: border-box;
  }

  /* Medium devices (tablets, 768px and up) */
  @media screen and (min-width: 768px) {
    .film-list1 {
        display: none;
    }
    .film-list2 {
        display: flex;
        padding-top: 20px;
    }
  }
  