/* .filmList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center; 
    gap: 15px;  
}

.filmList img {

} */


.banner, 
.searchForm,
.image-list1,
.image-list2 {
    display: flex;
    justify-content: center;
}

.favoritesList {
    display: flex;
}

.filmDetails {
    display: flex;
    align-self: center;
    flex-direction: column;
}

.AddtoFavoritesBtn {
    justify-content: center;
    display: flex;

}

.image-list2 {
    display: none;
}

.banner {
    background-color: #1E9FD1;
}

.searchForm {
    margin: 20px;
}




/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media screen and (min-width: 768px) {
    .image-list1 {
        display: none;
    }
    .image-list2 {
        display: flex;
    }
    
    
  }
  
  /* Large devices (desktops, 992px and up) */
  @media screen and (min-width: 992px) {
    
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media screen and (min-width: 1200px) {
    
  }
